p {
  margin-bottom: 0 !important;
}

.backgroundBlack {
  background-color: black;
}

.backgroundLightgrey {
  background-color: #efefef;
}

.centered {
  margin: 0 auto;
}

.centeredText {
  text-align: center;
}

.circle {
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
}

.fullWidth {
  width: 100%;
}

.inline {
  display: inline-block;
}

.marginBottomSmall {
  margin-bottom: 0.5em;
}

.paddingM {
  padding: 20px;
}

.paddingLeftM {
  padding-left: 20px;
}

.paddingTopS {
  padding-top: 10px;
}

.paddingTopM {
  padding-top: 20px;
}

.roundedImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.section {
  border: 1px solid #777;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
}

.underlined {
  text-decoration: underline
}

.verticalAligned {
  vertical-align: middle;
}
