p {
  margin-bottom: 0 !important;
}

.backgroundBlack {
  background-color: black;
}

.backgroundAccent {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  background-color: #000050;
}

.centered {
  margin: 0 auto;
}

.centeredText {
  text-align: center;
}

.circle {
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
}

.fullWidth {
  width: 100%;
}

.inline {
  display: inline-block;
}

.marginBottomSmall {
  margin-bottom: 0.5em;
}

.marginTopL {
  margin-top: 2em;
}

.paddingM {
  padding: 20px;
}

.paddingLeftM {
  padding-left: 20px;
}

.paddingTopS {
  padding-top: 10px;
}

.paddingTopM {
  padding-top: 20px;
}

.roundedImage {
  width: 200px;
  border-radius: 100px;
  padding: 0;
}

.section {
  /*border: 1px solid #777;*/
  padding-left: 5em;
  margin-bottom: 2em;
}

.underlined {
  text-decoration: underline
}

.verticalAligned {
  vertical-align: middle;
}